{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Newtown:ital,wght@1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap"
    />
  </head>
  <body>
    <div class="goalchat">
      <section class="frame-parent">
        <div class="frame-wrapper">
          <div class="frame-group">
            <div class="goalchat-wrapper">
              <b class="goalchat1">Goalchat</b>
            </div>
            <div class="wrapper">
              <b class="b">Возможности</b>
            </div>
            <div class="container">
              <b class="b1">Контакты</b>
            </div>
            <div class="button-search-wrapper">
              <img
                class="button-search-icon"
                loading="lazy"
                alt=""
                src="{% static 'img/group-3@2x.png' %}"
              />
            </div>
            <button class="button-share">
              <div class="button-1-parent">
                <b class="button-1">Поделиться</b>
                <img class="upload-icon" alt="" src="{% static 'img/upload@2x.png' %}" />
              </div>
            </button>
          </div>
        </div>
        <div class="frame-container">
          <div class="frame-div">
            <div class="main-wrapper">
              <div class="main">
                <div class="arrow-svg-parent">
                  <img
                    class="arrow-svg-icon"
                    alt=""
                    src="{% static 'img/group-1.svg' %}"
                  />

                  <img
                    class="group-of-left-svg-stars"
                    alt=""
                    src="{% static 'img/group-of-left-svg-stars.svg' %}"
                  />
                </div>
                <div class="slider-container-wrapper">
                  <div class="slider-container">
                    <div class="red-rectangle"></div>
                    <div class="div">
                      <p class="p">Привет!</p>
                      <p class="p1">Что ты умеешь?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="radius-controls">
              <h1 class="h1">
                <p class="p2">Здравствуй,</p>
              </h1>
              <div class="frame">
                <h1 class="h11">я чат-бот</h1>
              </div>
            </div>
          </div>
          <div class="frame-wrapper1">
            <div class="frame-parent1">
              <div class="skill-wrapper">
                <div class="skill-container">
                  <p class="p3">Привет!</p>
                  <p class="p4">я помогу составить</p>
                  <p class="p5">
                    <span class="span">пошаговый план</span>
                    <span> действий </span>
                  </p>
                  <p class="p6">на основе твоих интересов</p>
                  <p class="skill">для прокачки skillов</p>
                  <p class="p7">в различных областях</p>
                </div>
              </div>
              <h1 class="goalchat2">GOALCHAT</h1>
            </div>
          </div>
        </div>
      </section>
      <div class="chatbot-goalchat-wrapper">
        <i class="chatbot-goalchat">
          <p class="chatbot">ChatBot</p>
          <p class="goalchat3">GOALCHAT</p>
        </i>
      </div>
      <div class="button-transition-wrapper">
        <div class="button-transition">
          <div class="text-of-transition">
            <div class="text-wrapper">
              <b class="text"> Перейти goalchat </b>
            </div>
            <img class="arrow-icon" alt="" src="{% static 'img/arrow@2x.png' %}" />
          </div>
        </div>
      </div>
      <section class="goalchat-inner">
        <div class="frame-parent2">
          <div class="frame-wrapper2">
            <div class="goalchat-parent">
              <h2 class="goalchat4">Помочь стать goalchat лучше</h2>
              <div class="wrapper1">
                <div class="div1">
                  <p class="p8">
                    Заполните форму обратной связи и помоги стать чат-боту
                  </p>
                  <p class="p9">лучше, ответив на пару вопросов</p>
                </div>
              </div>
            </div>
          </div>
          <div class="button-complete-the-form-parent">
            <button class="button-complete-the-form">
              <div class="white-rectangle"></div>
              <div class="div2">Заполнить форму</div>
            </button>
            <button class="button-share1">
              <div class="red-rectangle1"></div>
              <div class="div3">Поделиться</div>
            </button>
          </div>
        </div>
      </section>
      <section class="frame-section">
        <div class="group-of-stars-parent">
          <img
            class="group-of-stars"
            alt=""
            src="{% static 'img/group-of-stars.svg' %}"
          />

          <i class="chatbot-goalchat1">
            <p class="chatbot1">ChatBot</p>
            <p class="goalchat5">GOALCHAT</p>
          </i>
        </div>
        <img
          class="gray-shadow-background"
          alt=""
          src="{% static 'img/gray-shadow-background@2x.png' %}"
        />

        <img
          class="space-background-rectangle"
          alt=""
          src="{% static 'img/space-background-rectangle@2x.png' %}"
        />

        <img class="red-rectangle-icon" alt="" src="{% static 'img/rectangle-3.svg' %}" />

        <img class="arrow-left-icon" alt="" src="{% static 'img/arrow-1@2x.png' %}" />

        <img
          class="arrow-right-icon"
          alt=""
          src="{% static 'img/arrow-right@2x.png' %}"
        />

        <img
          class="background-of-gray-rectangle"
          alt=""
          src="{% static 'img/background-of-gray-rectangle@2x.png' %}"
        />

        <div class="gray-rectangle"></div>
        <div class="goalchat-group">
          <div class="goalchat-container">
            <p class="p10">По теории достижения целей было</p>
            <p class="goalchat6">написано сотни томов. GoalChat направлен</p>
            <p class="p11">на практику и реальную работу над целями.</p>
          </div>
          <h1 class="goalchat7">GOALCHAT</h1>
          <h1 class="goalchat8">GOALCHAT</h1>
          <img
            class="gray-background-gr"
            alt=""
            src="{% static 'img/gray-background-gr@2x.png' %}"
          />
        </div>
        <img class="arrow-svg-icon1" alt="" src="{% static 'img/arrow-svg.svg' %}" />

        <div class="chatbot-goalchat-parent">
          <h1 class="chatbot-goalchat2">ChatBot GOALCHAT</h1>
          <img
            class="blue-background-icon"
            alt=""
            src="{% static 'img/blue-background@2x.png' %}"
          />
        </div>
        <img
          class="space-background-icon"
          alt=""
          src="{% static 'img/space-background@2x.png' %}"
        />

        <img
          class="gradient-ellipse-icon"
          alt=""
          src="{% static 'img/gradient-ellipse.svg' %}"
        />

        <img class="icon" alt="" src="{% static 'img/-1@2x.png' %}" />
      </section>
      <section class="goalchat-child">
        <div class="frame-parent3">
          <div class="goalchat-frame">
            <h2 class="goalchat9">Возможности goalchat:</h2>
          </div>
          <div class="list-item">
            <h1 class="chatbot-goalchat3">ChatBot GOALCHAT</h1>
            <div class="frame-parent4">
              <div class="frame-wrapper3">
                <div class="group-team-parent">
                  <div class="group-team">
                    <div class="gray-rectangle-team"></div>
                    <div class="wrapper2">
                      <div class="div4">Команда</div>
                    </div>
                    <div class="img-team-wrapper">
                      <img
                        class="img-team-icon"
                        loading="lazy"
                        alt=""
                        src="{% static 'img/image-2@2x.png' %}"
                      />
                    </div>
                    <div class="goalchat-container1">
                      <p class="goalchat10">В GoalChat можно пригласить</p>
                      <p class="p12">друга, и сделать процесс</p>
                      <p class="p13">достижения цели общим</p>
                    </div>
                  </div>
                  <div class="group-reminders">
                    <div class="red-rectangle-reminders"></div>
                    <div class="wrapper3">
                      <div class="div5">Напоминания</div>
                    </div>
                    <div class="img-reminders-wrapper">
                      <img
                        class="img-reminders-icon"
                        loading="lazy"
                        alt=""
                        src="{% static 'img/image-1@2x.png' %}"
                      />
                    </div>
                    <div class="goalchat-container2">
                      <p class="goalchat11">GoalChat напомнит вам</p>
                      <p class="p14">о незавершенных целях</p>
                      <p class="p15">и подбадрит в трудную минуту</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="parent">
                <div class="div6">Наши контакты</div>
                <header class="frame-header">
                  <div class="frame-parent5">
                    <div class="frame-parent6">
                      <div class="icon-tg-background-parent">
                        <div class="icon-tg-background"></div>
                        <img
                          class="icon-tg-background1"
                          alt=""
                          src="{% static 'img/icon-tg-background@2x.png' %}"
                        />
                      </div>
                      <div class="httpstmegoal-chat-wrapper">
                        <div class="httpstmegoal-chat">
                          <a
                            class="httpstme"
                            href="https://t.me/GOALCHAT"
                            target="_blank"
                          >
                            <span class="httpstme1">https://t.me/</span> </a
                          >GOAL_CHAT
                        </div>
                      </div>
                    </div>
                    <div class="refine-panel">
                      <div class="icon-mail-background"></div>
                      <img
                        class="icon-mail"
                        alt=""
                        src="{% static 'img/icon-mail@2x.png' %}"
                      />
                    </div>
                  </div>
                </header>
              </div>
            </div>
            <div class="frame-parent7">
              <div class="group-involvment-wrapper">
                <div class="group-involvment">
                  <div class="gray-rectangle-invol"></div>
                  <div class="wrapper4">
                    <div class="div7">Вовлечение</div>
                  </div>
                  <div class="img-involvement-wrapper">
                    <img
                      class="img-involvement-icon"
                      loading="lazy"
                      alt=""
                      src="{% static 'img/image-3@2x.png' %}"
                    />
                  </div>
                  <div class="goalchat-container3">
                    <p class="goalchat12">Игровые алгоритмы GoalChat</p>
                    <p class="p16">вовлекут вас в процесс</p>
                    <p class="p17">с большей самоотдачей</p>
                  </div>
                </div>
              </div>
              <div class="goal-chatmailru">GOAL_CHAT@mail.ru</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
